#vision {
    height: 45px;
    margin-top: 10px;

}

#proposito {
    margin-top: 10px;
    height: 45px;
}

#mision {
    height: 45px;
}

.logoperson {
    transform: scale(0.5);
}

/* 

*/


/*  */
.container-main {
    display: flex;
    margin: 10px;
}

.container-main p {
    margin: 50px;
}

#icon {
    width: 200px;
    height: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {

    margin-bottom: 20px;
    /* Agrega un margen inferior para separar las cards */
}

.card {
    width: 300px;
    height: 700px;
    margin: 20px;
}

.card img {
    width: 300px;
    height: 500px;
}

.card p {
    font-size: 15px;
    padding: 10px;
}

#triangl {
    transform: scale(1.5);
}

#a {
    margin-left: 250px;
}

.simpletwocolblue {
    max-width: 80%;
}

#img-1,
#img-2,
#img-3,
#img-4,
#img-5,
#img-6,
#img-7 {
    height: 200px;
    width: 100px;

}

.final {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 30px;
}